DATABASE_URL="postgresql://meg:meg@localhost:5433/meg_pocket?schema=public"
DIRECT_URL="postgresql://meg:meg@localhost:5433/meg_pocket?schema=public"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
APP_PORT="3000"
ADMINER_PORT="8081"
STORAGE_DRIVER="local"
STORAGE_BUCKET="personagens"
STORAGE_LOCAL_DIR="./public/uploads"
STORAGE_LOCAL_PUBLIC_URL="/uploads"
NEXT_PUBLIC_STORAGE_MAX_FILE_SIZE_MB="40"
STORAGE_ENDPOINT=""
STORAGE_REGION="auto"
STORAGE_PUBLIC_URL=""
STORAGE_ACCESS_ID=""
STORAGE_ACCESS_KEY=""
STORAGE_FORCE_PATH_STYLE="true"
ADMINER_URL="http://localhost:8081"
